<header class="{{ prefix_div }}-main-header">
    <div class="container-max-xl">
        <div class="{{ prefix_div }}-main-menu">
            <div class="brand">
                <a href="">
                    <img src="img/logo/logo-lg.png" alt="logo" title="logo">
                </a>
            </div>

            <div class="{{ prefix_div }}-nav-left">
                <nav id="nav" class="hidden lg:block">
                    <ul class="navbar justify-start">
                        {% for nav  in nav_main %}
                            <li>
                                {% if nav.links !=''  %}
                                    <a href="{{ nav.links }}"> {{ nav.pages }} </a>
                                {% else %}
                                    <a href="#"> {{ nav.pages }} </a>        
                                {% endif %}

                                {% if nav.child != '' %}
                                    <ul>
                                        {% for child in nav.child %}
                                            <li>
                                                <a href="{{ child.links }}">{{ child.pages }}</a>
                                                
                                                {% if child.child != '' %}
                                                    <ul>
                                                        {% for sub in child.child %}
                                                            <li><a href="{{ sub.links }}">{{ sub.pages }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>