<footer class="{{ prefix_div }}-main-footer">
    <div class="bg-palette-background">
        <div class="container-max-xl py-32 md:py-48 lg:py-56 xl:py-64">
            <div class="grid grid-cols-1 gap-0 lg:grid-cols-2 lg:gap-x-48">
                <div class="{{ prefix_div }}-footer-contact {{ prefix_div }}-paragraph-lg text-palette-text">
                    <h2>Want to <a href="" class="with-color"><span>Work ?</span></a></h2>
                </div>
                <div class="{{ prefix_div }}-footer-contact {{ prefix_div }}-paragraph-lg text-palette-text">
                    <p>
                        If you need a modern and powerful website for your business, startup or personally, I am available for work. You can email me directly at <a href="mailto:yudiantara.gde@gmail.com" class="with-color"><span>yudiantara.ge@gmail.com</span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container-max-xl pb-24 pt-32 lg:pt-48">
            <div class="{{ prefix_div }}-paragraph-sm text-palette-text text-left text-opacity-50">
                <p>© All right reserved – yudiantara.gde</p>
            </div>
        </div>
    </div>
</footer>